footer {
    width: 80%;
    margin-left: 10%;
}

.fs-4 {
    margin-left: 10px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}